/static/scripts/*.bat	        text eol=crlf working-tree-encoding=UTF-16LE-BOM
/static/scripts/install-*.ini	text eol=crlf working-tree-encoding=UTF-16LE-BOM

*.ahk   text eol=crlf working-tree-encoding=UTF-16LE-BOM
