@import '/src/css/utils';

.root{
  +:global(.theme-code-block){
    margin-top: 0;
  }
}

.choice {
  $padTop: 0.4rem;
  $gap: 8px;

  padding: $padTop 1rem;
  font-weight: normal;
  margin: {
    top: $gap;
    bottom: $gap;
  }
  &:global(.pills__item--active) {
    margin-bottom: 0;
    padding-bottom: calc($padTop + $gap);

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
