@import '/src/css/utils';

.selector {
  @include for-mobile-screen {
    & {
      flex-direction: row;
    }
  }

  @include for-phone-only {
    display: block;

    > label {
      padding: {
        left: 2rem;
        right: 2rem;
      }
      margin-left: 0.5rem;
    }
  }
}

.choices {
  display: flex;
  overflow-x: auto;

  &.oneline {
    display: inline;
  }
}

.choice {
  padding: 1rem 2rem;

  @include for-phone-only {
    padding: {
      left: 1.5rem;
      right: 1.5rem;
    }
  }
  margin-right: 8px;
  > input[type='radio'] {
    display: none;
  }
}

.title {
  flex-shrink: 0;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  @include for-phone-only {
    margin-bottom: 1rem;
    &.oneline {
      display: inline;
    }
  }
}
