.root {
  position: relative;
}

.elevated {
  position: absolute;
  right: 0;
  bottom: 0;
  transform-origin: right bottom;
  transform: scale(0.75) translate(25%,0);
}

.smaller{
  transform: scale(0.62) translate(25%,5%);
}
