@import '/src/css/utils';
.root {
  &::before {
    content: '$ 用包管理器安装：';
    display: flex;
    align-items: center;
  }

  @include for-phone-only {
    display: block;
    &::before {
      margin-bottom: 1rem;
    }
  }

  user-select: none;

  :global(.tabs__item){
    font-weight: normal;
  }

  margin-bottom: calc(-1rem + (-3px));

  li:first-child{
    margin-left:6px;
  }
}

.solo {
  margin-bottom: var(--ifm-leading);
}
