@import '../css/utils';

.oneline {
  display: inline;
  > div:first-child {
    display: inline;
    @include for-phone-only {
      margin-left: 1rem;
    }
  }
  > div:nth-child(2) {
    display: inline;
    @include for-phone-only {
      display: block;
      margin: 8px 0;
    }
    > label {
      padding: {
        left: 1rem;
        right: 1rem;
      }
    }
  }
  margin-right: 1rem;
}
