.linkButton {
  font-weight: normal;

  td & {
    margin-bottom: 0;
  }
}

.iconButton {
  $hpad: calc(1rem + 4px);
  padding: {
    left: $hpad;
    right: $hpad;
  }
}

.icon {
  margin-right: calc(1rem + -4px);
}
