@import '/src/css/utils';

.selector {
  margin-bottom: 1rem;

  @include for-mobile-screen {
    & {
      flex-direction: row;
    }
  }

  @include for-phone-only {
    display: block;
    > label {
      padding: {
        left: 2rem;
        right: 2rem;
      }
      margin-left: 0.5rem;
    }
  }
}

%padding {
  padding: 1rem 0;
}

.choice {
  @extend %padding;
  > input[type='radio'] {
    display: none;
  }
}

.hint {
  @extend %padding;
  margin-right: 1rem;
}
