.autoselect-cell-of-table td {
  user-select: all;
}

.autoselect-item-of-list li {
  user-select: all;
}

.let-details-to-gray {
  --ifm-alert-background-color: var(--ifm-color-secondary-contrast-background);
  --ifm-alert-background-color-highlight: rgba(235, 237, 240, 0.15);
  --ifm-alert-foreground-color: var(--ifm-color-secondary-contrast-foreground);
  --ifm-alert-border-color: var(--ifm-color-secondary-darkest);
}

.no-admonition-uppercase-title .admonition-heading > h5 {
  text-transform: none;
}

.no-table-border table td {
  border-left: none;
  border-right: none;
}

.no-table-header table > thead {
  display: none;
}

.left-float-scope {
  > * {
    float: left;
    margin-right: 3rem;
  }

  &::after {
    display: block;
    content: '';
    clear: both;
  }
}

.no-link-underline {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
