.autoselect-cell-of-table {
  td {
    user-select: all;
  }
}

.autoselect-item-of-list {
  li {
    user-select: all;
  }
}

.no-admonition-uppercase-title {
  .admonition-heading > h5 {
    text-transform: none;
  }
}

.no-admonition-icon {
  .admonition-icon {
    display: none;
  }
}

.no-table-border {
  table {
    > thead > tr {
      border: none;
      > th {
        border: {
          top: none;
          bottom: none;
          right: none;
        }
        &:first-child {
          border-left: none;
        }
      }
    }
    > tbody {
      > tr {
        border: none;
        > td {
          border: none;
        }
      }
    }
  }
}

.no-table-header {
  table {
    > thead {
      display: none;
    }
    > tbody > tr {
      background-color: var(--ifm-table-stripe-background);
      &:nth-child(2n) {
        background-color: unset;
      }
    }
  }
}

.full-width-table table {
  display: table;
  width: 100%;
}

.left-float-scope {
  > * {
    float: left;
    margin-right: 3rem;
  }

  &::after {
    display: block;
    content: '';
    clear: both;
  }
}

.no-link-underline {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.limit-code-height {
  code {
    max-height: 12rem;
  }
}
