.dropdown {
  font-size: medium;
  padding: 1.5rem;
  padding-right: 3rem;
  color: var(--ifm-font-color-base);

  width: fit-content;
  max-width: calc(100vw - 2*var(--ifm-spacing-horizontal));

  >p {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  >ul {
    padding-left: 1rem;
    margin-bottom: 8px;
  }

  &.warning {
    background: var(--ifm-alert-background-color);
    color: var(--ifm-font-color-base);
  }
}

.icon {
  display: flex-line;
  align-items: center;

  :global(.dropdown)>& {
    cursor: help;
  }
}
