@import '/src/css/utils';

.dropdown {
  @extend %dropdown-to-popper;

  font-size: medium;
  color: var(--ifm-font-color-base);

  >p {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  >ul {
    padding-left: 1rem;
    margin-bottom: 8px;
  }

  &.warning {
    background: var(--ifm-alert-background-color);
    color: var(--ifm-font-color-base);
  }
}

.icon {
  display: flex-line;
  align-items: center;

  :global(.dropdown)>& {
    cursor: help;
  }
}
